extends layout

block content
  h1= title
  p Welcome to #{title}
  ol
  each val in todos
    li
      span= val.task + ' - '
      if val.completed > 0
        span Completed
      else
        pan Not Completed
      form(method='POST' action='/delete')
        input(type='hidden', name='id', value=val.id)
        button(type='submit') Delete

  hr
  h2 Add a new task
  form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button(type='submit') Create Task
