body {
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

h1, h2 {
  text-align: center;
}

ol {
  padding-left: 20px;
}

li {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

form {
  display: inline-block;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}